body{
   background-image: url("turtle.jpg");
   background-position:top;
   background-repeat: no-repeat;
   text-align: center;
   color:white;
   font-size: 16px;
}

p{
   font-size: 18px;
}



#content{
    /*position:absolute;
    float:left;*/
}

#btn_back {
    width: 260px;
    font-size: 30px;
    font-family: Courier New Lucida Console;
    text-align: center;
    font-weight: bold;
    background: #ffff00;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #999;
    padding-left:10px;
    padding-right:10px;
    margin-top:340px;
}




/* The animation code */
@keyframes example_1 {
   from {background-color: red;}
   to {background-color: yellow;}
}

/* The element to apply the animation to */
#anim_1 {
   width: 100px;
   height: 100px;
   background-color: red;
   animation-name: example_1;
   animation-duration: 4s;
   float:right;
   text-transform: uppercase;
   font-size: 10px;
}


/* The animation code */
@keyframes example_2{
   0%   {background-color: red;}
   25%  {background-color: yellow;}
   50%  {background-color: blue;}
   100% {background-color: green;}
}

/* The element to apply the animation to */
#anim_2 {
   width: 100px;
   height: 100px;
   background-color: red;
   animation-name: example_2;
   animation-duration: 4s;
   float:right;
   text-transform: uppercase;
   font-size: 10px;

}

#empty{
  width:100px;
  float:right;
}
